@import "locomotive-scroll/dist/locomotive-scroll.css";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
}

.homePage,
.about,
.contact {
  height: 100vh;
  width: 100%;
}

.projects {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  perspective: 1000px;
  font-size: 5rem;
}

.whiteCard,
.blackCard {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.whiteCard {
  background-color: white;
  color: black;
}

.blackCard {
  background-color: black;
  color: white;
}

.cardHeading {
  font-size: 50px;
  font-weight: 600;
  padding-top: 130px;
}
