@import "locomotive-scroll/dist/locomotive-scroll.css";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: none;
}

.header {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid white;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.homePage,
.about,
.contact {
  height: 100vh;
  width: 100%;
}

.projects {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
/* 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  perspective: 1000px;
  font-size: 5rem;
}

.whiteCard,
.blackCard {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.whiteCard {
  background-color: white;
  color: black;
}

.blackCard {
  background-color: black;
  color: white;
} */

.cardHeading {
  font-size: 50px;
  font-weight: 600;
  padding-top: 130px;
}

.animate-hr {
  margin: 0;
  width: 0;
  height: 2px;
  transition: width 1s ease-out;
  background-color: white;
}

.animate-hr.is-inview {
  width: 100%;
}

.about-name {
  width: 100%;
  min-height: 100vh;
  font-size: 8rem;
  color: white;
  position: relative;
  .t1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.skewsec {
  transform: skew(15deg) rotate(6deg);
  padding: 13px 80px;
  &:last-child {
    transform: skew(-15deg) rotate(-6deg);
    margin-top: 43vh;
  }
}

.end-section {
  width: 100%;
  min-height: 50vh;
  font-size: 2rem;
}
